[submodule "lib/whalECS"]
	path = lib/whalECS
	url = https://github.com/whaleymar/whalECS.git
[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "lib/magnum-singles"]
	path = lib/magnum-singles
	url = https://github.com/mosra/magnum-singles.git
