[submodule "lib/whalECS"]
	path = lib/whalECS
	url = https://github.com/whaleymar/whalECS.git
[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/whaleymar/raylib.git
[submodule "lib/magnum-singles"]
	path = lib/magnum-singles
	url = https://github.com/whaleymar/magnum-singles.git
[submodule "lib/expected"]
	path = lib/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "lib/reflect-cpp"]
	path = lib/reflect-cpp
	url = https://github.com/whaleymar/reflect-cpp.git
[submodule "lib/rlImGui"]
	path = lib/rlImGui
	url = https://github.com/whaleymar/rlImGui.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
